.listbox {
  position: relative;
  box-shadow: 0 6px 18px 0 var(--border-default-grey);
  z-index: calc(var(--ground) + 1000);
  background-color: var(--background-default-grey);
  border-radius: 0 0 .5rem .5rem;
  border: 2px solid var(--border-default-grey);
  --idle: transparent;
  --color: var(--text-default-grey);
  --description-color: var(--text-mention-grey);
  --hover: var(--background-default-grey-hover);
  --active: var(--background-default-grey-active);
  --ol-type: none;
  --ul-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  --underline-img: none;
  --text-spacing: 0;
  --title-spacing: 0;
  --scroll-shadow-size: 1rem;

  -ms-overflow-style: none;
  scrollbar-width: none;

  // -webkit-mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
  // mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
  .listbox-top {
    background-color: var(--background-default-grey);
    z-index: calc(var(--ground) + 1000);
  }

  .listbox-bottom {
    background-color: var(--background-default-grey);
    z-index: calc(var(--ground) + 1000);
  }


  .listbox-content {
    padding: .5rem;
    overflow-y: scroll;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .flexbox-section {
    position: relative;
    padding: .5rem 0;
  }

  .listbox-item {
    position: relative;
    color: var(--text-default-grey);

    &[aria-selected=true]::after {
      content: '';
      -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0ibTEwIDE1LjE3MiA5LjE5Mi05LjE5MyAxLjQxNSAxLjQxNEwxMCAxOGwtNi4zNjQtNi4zNjQgMS40MTQtMS40MTQgNC45NSA0Ljk1WiIvPjwvc3ZnPg==);
      mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0ibTEwIDE1LjE3MiA5LjE5Mi05LjE5MyAxLjQxNSAxLjQxNEwxMCAxOGwtNi4zNjQtNi4zNjQgMS40MTQtMS40MTQgNC45NSA0Ljk1WiIvPjwvc3ZnPg==);
      position: absolute;
      --icon-size: 1.5rem;
      background-color: currentColor;
      display: inline-block;
      flex: 0 0 auto;
      right: 0.5rem;
      height: 1.5rem;
      height: var(--icon-size);
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      vertical-align: calc(.375em - .75rem);
      vertical-align: calc((.75em - var(--icon-size))*.5);
      width: 1.5rem;
      width: var(--icon-size);
    }

    &[aria-selected=true] {
      padding-right: 2.5rem;
    }

    border-radius: .25rem;
    padding: .375rem .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    min-height: 2.5rem;
    cursor: pointer;

    .content {
      text-align: start;
      padding: 0 1rem;
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;

      .description {
        font-size: 0.75rem !important;
        line-height: 1.25rem !important;
        color: var(--text-mention-grey);
      }
    }
  }

  .listbox-item--highlighted {
    color: var(--color);
    background-color: var(--hover);

    .content {
      .description {
        color: var(--description-color)
      }
    }
  }
}


.divider::after {
  position: absolute;
  bottom: -.75rem;
  left: 0;
  right: 0;
  content: '';
  height: 1px;
  margin: .5rem 0;
  background-color: var(--border-default-grey);
}


$color-families: green-tilleul-verveine,
  green-bourgeon,
  green-emeraude,
  green-menthe,
  green-archipel,
  blue-ecume,
  blue-cumulus,
  purple-glycine,
  pink-macaron,
  pink-tuile,
  yellow-tournesol,
  yellow-moutarde,
  orange-terre-battue,
  brown-cafe-creme,
  brown-caramel,
  brown-opera,
  beige-gris-galet,
  success,
  warning,
  info,
  error;

@each $color in $color-families {
  .listbox-item--#{$color} {
    --description-color: var(--text-action-high-#{$color});
    --color: var(--text-action-high-#{$color});
    --idle: transparent;
    --hover: var(--background-action-low-#{$color}-hover);
    --active: var(--background-action-low-#{$color}-active);
  }

  // .listbox--#{$color} {
  //   --description-color: var(--text-action-high-#{$color});
  //   --color: var(--text-action-high-#{$color});
  //   --idle: transparent;
  //   --hover: var(--background-action-low-#{$color}-hover);
  //   --active: var(--background-action-low-#{$color}-active);
  // }
}