.highlight {
  font-size: 13px;
  font-family: 'Fira Code', monospace;
  font-weight: 500 !important;
  padding: .75rem !important;
  box-sizing: border-box;
}

.code-wrapper {
  position: relative;
  BUTTON {
    visibility: hidden;
  }
}
.code-wrapper:hover {
  BUTTON {
    visibility: visible;
  }
}