.playground-wrappers {
  position: relative;
}
.playground-editor {
  animation: mount .3s;
  margin-bottom: 2rem;
  font-size: 13px;
  font-family: 'Fira Code', monospace;
  .prism-code {
    font-weight: 500 !important;
    padding: .5rem !important;
    box-sizing: border-box;
  }
  .prism-code:hover, .prism-code:focus {
    outline: 3px solid rgb(10, 118, 246) !important;
    outline-offset: 0;
  }
}
.playground-preview {
  outline: 1px solid var(--border-plain-grey) !important;
  padding: 1rem 1rem 4rem 1rem;
}