:root[data-fr-theme="light"] {
  --truncate-from-color: rgba(16, 16, 16, 0);
  --truncate-to-color: rgba(255, 255, 255, 1);
}

:root[data-fr-theme="dark"] {
  --truncate-from-color: rgba(16, 16, 16, 0);
  --truncate-to-color: rgb(16, 16, 16, 1);
}

.truncate {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: var(--truncate-height, auto);
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.truncate:not(.expanded)::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 50%;
  bottom: 0px;
  background: linear-gradient(180deg, var(--truncate-from-color) 0%, var(--truncate-to-color) 100%);
  pointer-events: none;
}

.expanded {
  max-height: var(--truncate-height-expanded, auto);
}